@charset "utf-8";

/* 共通 */

h1, h2, h3, h4 {
    color: #fff;
}

a, p {
    color: darkgray;
}

h1 {
  font-size: 18px;
}

h2 {
  margin: 20px 0 0 0;
  font-size: 28px;
  font-weight: 300;
}

.flex {
  display: flex;
  align-items: center;
}

a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  font-size: 14px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* App */

.App {
  background-color: #292A2D;
}

/* ヘッダー */

.header {
  background-color: #202124;

  &-top {
    margin: 5px 20px;
  }

  &-hr {
    margin: 0;
    color: darkgray;
  }

}

.search {
  margin: 0 auto;

    &-form {
      width: 60vh;
    }

}

.icon {
  width: 20px;

    &-filter {
      filter: brightness(5);
    }
}

.menu {
  right: 0;
}

/* ナビゲーション */

.nav {
  justify-content: space-evenly;

  &-left, &-right {
  justify-content: space-evenly;
  }

    p {
        padding: 0 20px;
    }
}


/* 今日のニュース */

.todaydate {
  font-size: small;
  color: darkgray;
}
